name: manifest lint
on:
  pull_request:
    paths:
      - .github/workflows/manifest.lint.yaml
      - k8s/**/*.yaml
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Helm
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
          chmod +x get_helm.sh
          ./get_helm.sh
      - name: Helm lint
        run: helm lint k8s
